<form action="/authed" method="post">
  <label for="apikey">Wanikani API key</label>
  <input type="text" name="apikey"/>

  <input type="submit"/>
</form>
It will keep you authenticated for a month.
