<% if @pages.empty? %>
  <p>No pages!</p>
<% else %>
  <ul>
    <% @pages.sort_by{|k,v| v}.reverse.each do |page, rating| %>
    <li><a href="<%= page.url %>"><%= page.url %></a> - <%= (rating * 100).round %>%</li>
  <% end %>
  </ul>
<% end %>
